<!DOCTYPE html>
<html>
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h2>User Story Manager</h2>
        <button type="button" class="btn" onclick="window.location.href='/story'">Add New User Story</button>
        <p></p>
        <table border="1">
            {% for i, line in enumerate(data) %}
            <tr>
                {% for field in line %}
                {% if i == 0 %}
                <th>{{ field }}</th>
                {% else %}
                <td>{{ field }}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
       
    </body>
</html>
