<!DOCTYPE html>
<html>
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h2>User Story Manager</h2>
        <button type="button" class="btn" id="add_new_story" onclick="window.location.href='/story'">Add New User Story</button>
        <p></p>
        <table border="1">
            {% for i, line in enumerate(data) %}
                <tr>
                    {% for field in line %}
                        {% if i == 0 %}
                            <th>{{ field }}</th>
                        {% else %}
                            <td>{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                    {% if i != 0 %}
                        <td>
                            <a href="/story/{{ line[0] }}"><img src="../static/pen.png" width="20" height="20" alt="Pen icon"></a> 
                        </td>
                        <td>
                            <a href="/story/{{ line[0] }}/delete"><img src="../static/bin.jpg" width="20" height="20" alt="Bin icon"></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        
    </body>
</html>
